:root {
	--color-ripple: rgba(255,255,255,0.8);
}

body {
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow-y: hidden;
}
.container-fluid {
	height: 100%;
}
.row {
	height: 100%;
}
.logoCol {
	background: #262729;
	height: 100%;
	display: flex;
  	align-items: center;
  	justify-content: center;
}
.logo {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.buttonCol {
	height: 100%;
}
a {
	font-family: 'Raleway Black', sans-serif;
	font-weight: bold;
	font-size: 45px;
	padding: 0.1em 0.8em;
	text-decoration: none;
	text-align: center;
	user-select: none;
	color: #FFFFFF;
	border-radius: 4px;	
	letter-spacing: 0.07em;
	width: 40%;
	max-height: 10%;
	margin-bottom: 9%;
	right: -27%;
	position: fixed;
	top: 60%;
}
a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

*[data-animation="ripple"] {
	position: relative;
	height: 100%;
	width: 100%;
	display: block;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}
*[data-animation="ripple"]:focus {
	outline: none;
}

*[data-animation="ripple"]::selection {
	background: transparent;
	pointer-events: none;
}

#login {
	background: #a4a9ad;
	color: #FFFFFF;
}

#chat {
	background: #f46178;
	color: #FFFFFF;
}

.buttonsContainer {
	height: 30%;
}

.buttonsContainer .row {
	height: 100%;
	align-items: center;
	justify-content: center;
}